<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body >
<div>
    <form action="" method="post">
        <label>USERNAME</label><br>
        <input nane="username" type="email" placehodler="write your username"><br><br>
        <label>PASSWORD</label><br>
        <input name="password" type="password" placeholder="write your password"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/register">
        <label>New Here?</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>
</html>