<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/insert" method="post">
        <label>USERNAME:</label><br>
        <input type="email" name="username" id="username"><br><br>
        <label>PASSWORD:</label><br>
        <input type="password" name="password" id="password"><br><br>
        <label>FIRSTNAME:</label><br>
        <input type = "text" name="firstname" id="firstname"><br><br>
        <label>LASTNAME:</label><br>
        <input type = "text" name="lastname" id="lastname"><br><br>
        <label>GENDER:</label><br>
        <input type = "text" name="gender" id="gender"><br><br>
        <label>AGE:</label><br>
        <input type = "text" name="age" id="age"><br><br>
        <input type="submit" value="CREATE USER">
    </form>
</div>

</body>
</html>