<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body >

<div class="img-container">
    <img src="static/image/img_avatar2.png" alt="Avatar" class="avatar">
</div>

<div class="container">
    <form action="/checkuser" method="post">
        <label>USERNAME</label><br>
        <input name="username" type="text" placehodler="write your username"><br><br>
        <label>PASSWORD</label><br>
        <input name="password" type="password" placeholder="write your password"><br><br>
        <button type="submit">Login</button>
    </form>
</div>

<div class="container" style="background-color: #f1f1f1">
    <form action="/register">
        <label>New Here?</label>
        <input value="Register" type="submit" class="registerButton">
    </form>
</div>

</body>
</html>
