
table {
    oveflow:auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.LogoutBtn {
    width:auto;
    color:white;
    padding: 10px 18px;
    background-color: indianred;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    cursor: pointer;
}
.buyBtn {
    background-color: #2196F3;
}

img.avatar2 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchTerm {
    width: 10%;
    border: 3px solid #2196F3;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #2196F3;
}
.body1 {
    background-image: url(../image/bg3.jpeg);
}
.textMsg {
    background: rgba(255, 255, 255, 0.6);
}


